<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header class="cabecalho">
        <div class="texto-cab">
            <h1>Help Desk</h1>
            <span class="separador"></span>
            <h2>Chamado</h2>
        </div>
    </header>

    <aside>
        <nav>
            <ol>
                <div class="emojis">
                <li><a href="incio.html">Inicio 🏠</a></li>
                <hr>
                <li><a href="chat.html">Chat 🗨️</a></li>
                <hr>
                <li><a href="chamados.html">Chamados ✉️</a></li>
                <hr>
                </div>    
            </ol>
        </nav>
    </aside>

    <main>
        <div class="box-chat">

        </div>
    </main>

</body>
</html>