<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header class="cabecalho">
        <div class="texto-cab">
            <h1>Help Desk</h1>
            <span class="separador"></span>
            <h2>Chat</h2>
        </div>
    </header>

    <aside>
        <nav>
            <ol>
                <li><a href="incio.html">Inicio        🏠</a></li>
                <li><a href="chat.html">Chat           🗨️</a></li>
                <li><a href="chamados.html">Chamados   ✉️</a></li>
            </ol>
        </nav>
    </aside>

    <main>
        <div class="box-chat">

            <div class="campo-esquerda">

                <section class="mensagens m1">
                    <button class="botao">Mensagem 1</button>
                </section>

                <section class="mensagens m2">
                    <button class="botao">Mensagem 2</button>
                </section>

                <section class="mensagens c3">
                    <button class="botao">Mensagem 3</button>
                </section>

            </div>

            <div class="campo-direita">

            </div>
        </div>
    </main>

</body>
</html>