<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body class="body-htmls">

    <header class="cabecalho">

        <div class="texto-cab">
            <h1>Help Desk</h1>
            <span class="separador"></span>
            <h2>Chat</h2>
        </div>

        <div class="campo-img-icon">
            <a href="login.html">
                <img src="/img/icon.png" class="icone">
            </a>
        </div> 

    </header>

    <aside>
        <nav>
            <ol>
                <li><a href="inicio.html">Inicio 🏠</a></li>
                <hr>
                <li><a href="chat.html">Chat 🗨️</a></li>
                <hr>
                <li><a href="chamados.html">Chamados ✉️</a></li>
                <hr>
            </ol>
        </nav>
    </aside>

    <main>
        <div class="box-main">

        </div>
    </main>

</body>
</html>