<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="body-login">

    <div class="box-login">
        <div class="texto-login">
            <h1>Seja Bem Vindo
        </div>

        <div class="campo-dados">
            <input class="dados-login" placeholder=" Insira o seu login"></login>
            <input class="dados-senha" placeholder=" Insira sua senha"></login>
        </div>

        <div class="botao-login-pai">
            <button type="submit" class="botao-login-filho" name="login" value="">Entrar</button> 
            <!--Sem autenticação pois agora é só o front-->
        </div>
    </div>

</body>
</html>